body {
  font-family: "Inter", sans-serif;
  background-color: rgba(242, 236, 236, 0.477);
}

.container {
  width: 60%;
  margin: auto;
} 
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a {
  line-height: 1.4;
  letter-spacing: 1px;
}


h1{
    text-align: center;
    color: red;
    font-weight: 900;
}


h2{
    text-align: center;
    color: red;
    font-weight: 700;
}

.hero{
    background-color: white;
    width: 100%;
    
}